<mat-toolbar color="primary">
<mat-toolbar-row>
<span>Task Management</span>
    <span class="example-fill-remaining-space"></span>
    <span class="align-center"></span>
    <span class="example-spacer"></span>
    <button *ngIf="adminUser == 'True'" mat-button (click)="addTeam()">Add a Team</button>
    <button *ngIf="adminUser == 'True'" [@changeState]="currentState" mat-button (click)="addTask()">Add a Task</button>
    <button *ngIf="adminUser == 'True'" mat-button (click)="getTaskStatistics()">Check Task Statistics</button>
    <button *ngIf="logged == 'True'" mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button *ngIf="logged == 'True'" mat-menu-item (click)="logout()">
    <mat-icon>power_settings_new</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
 </mat-toolbar-row>
</mat-toolbar>
