<div>
        <mat-table [dataSource]="tasks">
          <ng-container matColumnDef="team">
              <mat-header-cell *matHeaderCellDef> Team Name </mat-header-cell>
              <mat-cell *matCellDef="let task"> {{task.team}} </mat-cell>
            </ng-container>
          <ng-container matColumnDef="assigned_to">
            <mat-header-cell *matHeaderCellDef> Assigned To </mat-header-cell>
            <mat-cell *matCellDef="let task"> {{task.assigned_to.full_name}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let task"> {{task.name}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
            <mat-cell *matCellDef="let task"> {{task.description}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
            <mat-cell *matCellDef="let task"> {{task.status | statusTransform}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="deadline">
                <mat-header-cell *matHeaderCellDef> Deadline </mat-header-cell>
                <mat-cell *matCellDef="let task"> {{task.deadline }} </mat-cell>
           </ng-container>
           <ng-container matColumnDef="created">
                <mat-header-cell *matHeaderCellDef> Created </mat-header-cell>
                <mat-cell *matCellDef="let task"> {{task.created | dateTransform}} </mat-cell>
           </ng-container>
           <ng-container matColumnDef="edit">
                <mat-header-cell *matHeaderCellDef> Edit Action </mat-header-cell>
                <mat-cell *matCellDef="let task"><button (click)="onUserEditTask(task.id)" appHighlight>Edit Task</button></mat-cell>
           </ng-container>


          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>