<mat-card>
    <mat-card-title>Login Form</mat-card-title>
    <mat-card-content>
        <form id="loginForm" [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
            <table>
                <tr>
                    <td>
                        <mat-form-field class="demo-full-width">
                            <input type="email" matInput formControlName="email" id="email" name="email" placeholder="Email Address">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="demo-full-width">
                            <input type="password" matInput formControlName="password" placeholder="Password" name="password" id="password">
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary" mat-raised-button color="accent">Login</button>
        </form>
    </mat-card-content>
</mat-card>