<mat-card>
    <mat-card-title>Add Team Form</mat-card-title>
    <mat-card-content>
        <form id="addTeamForm" [formGroup]="addTeamForm" (ngSubmit)="teamSubmit()">
            <table>
                <tr>
                    <td>
                        <mat-form-field class="demo-full-width">
                            <input type="text" matInput formControlName="name" id="name" name="name" placeholder="Enter the Team Name">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="demo-full-width">
                            <input type="text" matInput formControlName="description" placeholder="Team Description(optional)" name="description" id="description">
                        </mat-form-field>
                    </td>
                </tr>
               <tr>
                 <td>
                   <mat-form-field class="demo-full-width">
                     <mat-select matInput placeholder="Team Members" formControlName="members" id="members" name="members" multiple>
                       <mat-option>-- Select Team Members --</mat-option>
                       <mat-option *ngFor="let user of userList" [value]="user.id">{{user.full_name}}</mat-option>
                     </mat-select>
                   </mat-form-field>
                 </td>
               </tr>
            </table>
            <button [disabled]="!addTeamForm.valid" type="submit" class="btn btn-primary" mat-raised-button color="accent">Submit</button>
        </form>
    </mat-card-content>
</mat-card>